<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.AnswerMapper">

 	<resultMap id="BaseResultMap" type="com.midland.web.model.Answer" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="answer_area" property="answerArea" jdbcType="LONGVARCHAR" />
		<result column="answer_time" property="answerTime" jdbcType="TIMESTAMP" />
		<result column="answer_name" property="answerName" jdbcType="VARCHAR" />
		<result column="against_num" property="againstNum" jdbcType="INTEGER" />
		<result column="support_num" property="supportNum" jdbcType="INTEGER" />
		<result column="questions_id" property="questionsId" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,answer_area,answer_time,answer_name,against_num,support_num,questions_id,is_delete,audit_status
	</sql>

	<select id="selectAnswerById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from answer
		 where id= #{id}
	</select>

	<delete id="deleteAnswerById" >
		delete from answer
		 where id= #{id}
	</delete>

	<update id="updateAnswerById" >
		update answer 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findAnswerList" parameterType="com.midland.web.model.Answer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from answer
		where 
		is_delete=0
		<include refid="select_option" />
	</select>

	<insert id="insertAnswer" parameterType="com.midland.web.model.Answer">
		insert into answer
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="answerArea != null">
				answer_area,
			</if>
			<if test="answerTime != null">
				answer_time,
			</if>
			<if test="answerName != null">
				answer_name,
			</if>
			<if test="againstNum != null">
				against_num,
			</if>
			<if test="supportNum != null">
				support_num,
			</if>
			<if test="questionsId != null">
				questions_id,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="auditStatus != null">
				audit_status,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="answerArea != null">
				#{answerArea,jdbcType=LONGVARCHAR},
			</if>
			<if test="answerTime != null">
				#{answerTime,jdbcType=TIMESTAMP},
			</if>
			<if test="answerName != null">
				#{answerName,jdbcType=VARCHAR},
			</if>
			<if test="againstNum != null">
				#{againstNum,jdbcType=INTEGER},
			</if>
			<if test="supportNum != null">
				#{supportNum,jdbcType=INTEGER},
			</if>
			<if test="questionsId != null">
				#{questionsId,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			 <if test="auditStatus != null">
				 #{auditStatus,jdbcType=INTEGER},
			 </if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="answerArea != null">
			answer_area= #{answerArea,jdbcType=LONGVARCHAR},
		</if>
		<if test="answerTime != null">
			answer_time= #{answerTime,jdbcType=TIMESTAMP},
		</if>
		<if test="answerName != null">
			answer_name= #{answerName,jdbcType=VARCHAR},
		</if>
		<if test="againstNum != null">
			against_num= #{againstNum,jdbcType=INTEGER},
		</if>
		<if test="supportNum != null">
			support_num= #{supportNum,jdbcType=INTEGER},
		</if>
		<if test="questionsId != null">
			questions_id= #{questionsId,jdbcType=INTEGER},
		</if>
		<if test="isDelete != null">
			is_delete= #{isDelete,jdbcType=INTEGER},
		</if>
		<if test="auditStatus != null">
			audit_status=#{auditStatus,jdbcType=INTEGER},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="answerArea != null">
			 and answer_area= #{answerArea,jdbcType=LONGVARCHAR}
		</if>
		<if test="answerTime != null">
			 and answer_time= #{answerTime,jdbcType=TIMESTAMP}
		</if>
		<if test="answerName != null">
			 and answer_name= #{answerName,jdbcType=VARCHAR}
		</if>
		<if test="againstNum != null">
			 and against_num= #{againstNum,jdbcType=INTEGER}
		</if>
		<if test="supportNum != null">
			 and support_num= #{supportNum,jdbcType=INTEGER}
		</if>
		<if test="questionsId != null">
			 and questions_id= #{questionsId,jdbcType=INTEGER}
		</if>
		<if test="isDelete != null">
			 and is_delete= #{isDelete,jdbcType=INTEGER}
		</if>
		<if test="auditStatus != null">
			and audit_status=#{auditStatus,jdbcType=INTEGER}
		</if>
	</sql>

</mapper>