<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.AppointmentMapper">

 	<resultMap id="BaseResultMap" type="com.midland.web.model.Appointment" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="appoint_sn" property="appointSn" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="INTEGER" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="house_type" property="houseType" jdbcType="INTEGER" />
		<result column="sell_rent" property="sellRent" jdbcType="INTEGER" />
		<result column="appointment_time" property="appointmentTime" jdbcType="TIMESTAMP" />
		<result column="area_name" property="areaName" jdbcType="VARCHAR" />
		<result column="community_name" property="communityName" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="layout" property="layout" jdbcType="VARCHAR" />
		<result column="measure" property="measure" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="VARCHAR" />
		<result column="entrust_time" property="entrustTime" jdbcType="TIMESTAMP" />
		<result column="agent_id" property="agentId" jdbcType="VARCHAR" />
		<result column="agent_name" property="agentName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="handle_time" property="handleTime" jdbcType="TIMESTAMP" />
		<result column="decoration" property="decoration" jdbcType="TINYINT" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="VARCHAR" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="area_id" property="areaId" jdbcType="INTEGER" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="agent_phone" property="agentPhone" jdbcType="VARCHAR" />
		<result column="view_url" property="viewUrl" jdbcType="VARCHAR" />
		<result column="reset_flag" property="resetFlag" jdbcType="INTEGER" />
		<result column="assigned_time" property="assignedTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,appoint_sn,source,nick_name,phone,house_type,sell_rent,DATE_FORMAT(appointment_time,'%Y-%m-%d %H:%i:%s')appointment_time,area_name,community_name,address,layout,measure,price,DATE_FORMAT(entrust_time,'%Y-%m-%d %H:%i:%s'),agent_id,agent_name,status,DATE_FORMAT(handle_time,'%Y-%m-%d %H:%i:%s')handle_time,decoration,is_delete,city_id,city_name,area_id,flag,agent_phone,view_url,reset_flag,DATE_FORMAT(assigned_time,'%Y-%m-%d %H:%i:%s')assigned_time
	</sql>

	<select id="selectAppointmentById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from appointment
		 where id= #{id}
	</select>

	<delete id="deleteAppointmentById" >
		delete from appointment
		 where id= #{id}
	</delete>

	<update id="updateAppointmentById" >
		update appointment 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findAppointmentList" parameterType="com.midland.web.model.Appointment" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from appointment
		where 
		is_delete=0
		<include refid="select_option" />
	</select>

	<insert id="insertAppointment" parameterType="com.midland.web.model.Appointment">
		insert into appointment
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="appointSn != null">
				appoint_sn,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="houseType != null">
				house_type,
			</if>
			<if test="sellRent != null">
				sell_rent,
			</if>
			<if test="appointmentTime != null">
				appointment_time,
			</if>
			<if test="areaName != null">
				area_name,
			</if>
			<if test="communityName != null">
				community_name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="layout != null">
				layout,
			</if>
			<if test="measure != null">
				measure,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="entrustTime != null">
				entrust_time,
			</if>
			<if test="agentId != null">
				agent_id,
			</if>
			<if test="agentName != null">
				agent_name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="handleTime != null">
				handle_time,
			</if>
			<if test="decoration != null">
				decoration,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="areaId != null">
				area_id,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="agentPhone != null">
				agent_phone,
			</if>
			<if test="viewUrl != null">
				view_url,
			</if>
			<if test="resetFlag != null">
				reset_flag,
			</if>
			<if test="assignedTime != null">
				assigned_time,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="appointSn != null">
				#{appointSn,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				#{source,jdbcType=INTEGER},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="houseType != null">
				#{houseType,jdbcType=INTEGER},
			</if>
			<if test="sellRent != null">
				#{sellRent,jdbcType=INTEGER},
			</if>
			<if test="appointmentTime != null">
				#{appointmentTime,jdbcType=TIMESTAMP},
			</if>
			<if test="areaName != null">
				#{areaName,jdbcType=VARCHAR},
			</if>
			<if test="communityName != null">
				#{communityName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="layout != null">
				#{layout,jdbcType=VARCHAR},
			</if>
			<if test="measure != null">
				#{measure,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=VARCHAR},
			</if>
			<if test="entrustTime != null">
				#{entrustTime,jdbcType=TIMESTAMP},
			</if>
			<if test="agentId != null">
				#{agentId,jdbcType=VARCHAR},
			</if>
			<if test="agentName != null">
				#{agentName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="handleTime != null">
				#{handleTime,jdbcType=TIMESTAMP},
			</if>
			<if test="decoration != null">
				#{decoration,jdbcType=TINYINT},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=VARCHAR},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				#{areaId,jdbcType=INTEGER},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=INTEGER},
			</if>
			<if test="agentPhone != null">
				#{agentPhone,jdbcType=VARCHAR},
			</if>
			<if test="viewUrl != null">
				#{viewUrl,jdbcType=VARCHAR},
			</if>
			<if test="resetFlag != null">
				#{resetFlag,jdbcType=INTEGER},
			</if>
			<if test="assignedTime != null">
				#{assignedTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="appointSn != null">
			appoint_sn= #{appointSn,jdbcType=VARCHAR},
		</if>
		<if test="source != null">
			source= #{source,jdbcType=INTEGER},
		</if>
		<if test="nickName != null">
			nick_name= #{nickName,jdbcType=VARCHAR},
		</if>
		<if test="phone != null">
			phone= #{phone,jdbcType=VARCHAR},
		</if>
		<if test="houseType != null">
			house_type= #{houseType,jdbcType=INTEGER},
		</if>
		<if test="sellRent != null">
			sell_rent= #{sellRent,jdbcType=INTEGER},
		</if>
		<if test="appointmentTime != null">
			appointment_time= #{appointmentTime,jdbcType=TIMESTAMP},
		</if>
		<if test="areaName != null">
			area_name= #{areaName,jdbcType=VARCHAR},
		</if>
		<if test="communityName != null">
			community_name= #{communityName,jdbcType=VARCHAR},
		</if>
		<if test="address != null">
			address= #{address,jdbcType=VARCHAR},
		</if>
		<if test="layout != null">
			layout= #{layout,jdbcType=VARCHAR},
		</if>
		<if test="measure != null">
			measure= #{measure,jdbcType=VARCHAR},
		</if>
		<if test="price != null">
			price= #{price,jdbcType=VARCHAR},
		</if>
		<if test="entrustTime != null">
			entrust_time= #{entrustTime,jdbcType=TIMESTAMP},
		</if>
		<if test="agentId != null">
			agent_id= #{agentId,jdbcType=VARCHAR},
		</if>
		<if test="agentName != null">
			agent_name= #{agentName,jdbcType=VARCHAR},
		</if>
		<if test="status != null">
			status= #{status,jdbcType=INTEGER},
		</if>
		<if test="handleTime != null">
			handle_time= #{handleTime,jdbcType=TIMESTAMP},
		</if>
		<if test="decoration != null">
			decoration= #{decoration,jdbcType=TINYINT},
		</if>
		<if test="isDelete != null">
			is_delete= #{isDelete,jdbcType=INTEGER},
		</if>
		<if test="cityId != null">
			city_id= #{cityId,jdbcType=VARCHAR},
		</if>
		<if test="cityName != null">
			city_name= #{cityName,jdbcType=VARCHAR},
		</if>
		<if test="areaId != null">
			area_id= #{areaId,jdbcType=INTEGER},
		</if>
		<if test="flag != null">
			flag= #{flag,jdbcType=INTEGER},
		</if>
		<if test="agentPhone != null">
			agent_phone= #{agentPhone,jdbcType=VARCHAR},
		</if>
		<if test="viewUrl != null">
			view_url= #{viewUrl,jdbcType=VARCHAR},
		</if>
		<if test="resetFlag != null">
			reset_flag= #{resetFlag,jdbcType=INTEGER},
		</if>
		<if test="assignedTime != null">
			assigned_time= #{assignedTime,jdbcType=TIMESTAMP},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="appointSn != null">
			 and appoint_sn= #{appointSn,jdbcType=VARCHAR}
		</if>
		<if test="source != null">
			 and source= #{source,jdbcType=INTEGER}
		</if>
		<if test="nickName != null">
			 and nick_name  like '%${nickName}%'
		</if>
		<if test="phone != null">
			 and phone= #{phone,jdbcType=VARCHAR}
		</if>
		<if test="houseType != null">
			 and house_type= #{houseType,jdbcType=INTEGER}
		</if>
		<if test="sellRent != null">
			 and sell_rent= #{sellRent,jdbcType=INTEGER}
		</if>
		<if test="appointmentTime != null">
			 and appointment_time= #{appointmentTime,jdbcType=TIMESTAMP}
		</if>
		<if test="areaName != null">
			 and area_name= #{areaName,jdbcType=VARCHAR}
		</if>
		<if test="communityName != null">
			 and community_name like '%${communityName}%'
		</if>
		<if test="address != null">
			 and address= #{address,jdbcType=VARCHAR}
		</if>
		<if test="layout != null">
			 and layout= #{layout,jdbcType=VARCHAR}
		</if>
		<if test="measure != null">
			 and measure= #{measure,jdbcType=VARCHAR}
		</if>
		<if test="price != null">
			 and price= #{price,jdbcType=VARCHAR}
		</if>
		<if test="entrustTime != null">
			 and entrust_time= #{entrustTime,jdbcType=TIMESTAMP}
		</if>
		<if test="agentId != null">
			 and agent_id= #{agentId,jdbcType=VARCHAR}
		</if>
		<if test="agentName != null">
			 and agent_name= #{agentName,jdbcType=VARCHAR}
		</if>
		<if test="status != null">
			 and status= #{status,jdbcType=INTEGER}
		</if>
		<if test="handleTime != null">
			 and handle_time= #{handleTime,jdbcType=TIMESTAMP}
		</if>
		<if test="decoration != null">
			 and decoration= #{decoration,jdbcType=TINYINT}
		</if>
		<if test="isDelete != null">
			 and is_delete= #{isDelete,jdbcType=INTEGER}
		</if>
		<if test="cityId != null">
			 and city_id= #{cityId,jdbcType=VARCHAR}
		</if>
		<if test="cityName != null">
			 and city_name= #{cityName,jdbcType=VARCHAR}
		</if>
		<if test="areaId != null">
			 and area_id= #{areaId,jdbcType=INTEGER}
		</if>
		<if test="flag != null">
			 and flag= #{flag,jdbcType=INTEGER}
		</if>
		<if test="agentPhone != null">
			 and agent_phone= #{agentPhone,jdbcType=VARCHAR}
		</if>
		<if test="viewUrl != null">
			 and view_url= #{viewUrl,jdbcType=VARCHAR}
		</if>
		<if test="resetFlag != null">
			 and reset_flag= #{resetFlag,jdbcType=INTEGER}
		</if>
		<if test="assignedTime != null">
			 and assigned_time= #{assignedTime,jdbcType=TIMESTAMP}
		</if>
	</sql>

</mapper>