<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.CenterMsgMapper">

    <resultMap id="BaseResultMap" type="com.midland.web.model.CenterMsg">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="other_user_id" property="otherUserId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="msg" property="msg" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="head_img" property="headImg" jdbcType="VARCHAR"/>
        <result column="jump_id" property="jumpId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,user_id,other_user_id,type,add_time,msg,title,head_img,jump_id
	</sql>

    <select id="selectCenterMsgById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from center_msg
        where id= #{id}
    </select>

    <delete id="deleteCenterMsgById">
        delete from center_msg
        where id= #{id}
    </delete>

    <update id="updateCenterMsgById">
        update center_msg
        <set>
            <include refid="update_option"/>
        </set>

        where id= #{id}
    </update>

    <select id="findCenterMsgList" parameterType="com.midland.web.model.CenterMsg" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from center_msg
        where 1=1
        <include refid="select_option"/>
    </select>

    <insert id="insertCenterMsg" parameterType="com.midland.web.model.CenterMsg">
        insert into center_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="otherUserId != null">
                other_user_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="msg != null">
                msg,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="headImg != null">
                head_img,
            </if>
            <if test="jumpId != null">
                jump_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="otherUserId != null">
                #{otherUserId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="msg != null">
                #{msg,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="jumpId != null">
                #{jumpId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <sql id="update_option">
        <if test="userId != null">
            user_id= #{userId,jdbcType=VARCHAR},
        </if>
        <if test="otherUserId != null">
            other_user_id= #{otherUserId,jdbcType=VARCHAR},
        </if>
        <if test="type != null">
            type= #{type,jdbcType=INTEGER},
        </if>
        <if test="addTime != null">
            add_time= #{addTime,jdbcType=TIMESTAMP},
        </if>
        <if test="msg != null">
            msg= #{msg,jdbcType=VARCHAR},
        </if>
        <if test="title != null">
            title= #{title,jdbcType=VARCHAR},
        </if>
        <if test="headImg != null">
            head_img= #{headImg,jdbcType=VARCHAR},
        </if>
        <if test="jumpId != null">
            jump_id= #{jumpId,jdbcType=VARCHAR},
        </if>
    </sql>

    <sql id="select_option">
        <if test="id != null">
            and id= #{id,jdbcType=INTEGER}
        </if>
        <if test="userId != null">
            and user_id= #{userId,jdbcType=VARCHAR}
        </if>
        <if test="otherUserId != null">
            and other_user_id= #{otherUserId,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type= #{type,jdbcType=INTEGER}
        </if>
        <if test="addTime != null">
            and add_time= #{addTime,jdbcType=TIMESTAMP}
        </if>
        <if test="msg != null">
            and msg= #{msg,jdbcType=VARCHAR}
        </if>
        <if test="title != null">
            and title= #{title,jdbcType=VARCHAR}
        </if>
        <if test="headImg != null">
            and head_img= #{headImg,jdbcType=VARCHAR}
        </if>
        <if test="jumpId != null">
            and jump_id= #{jumpId,jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>