<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.CommunityAlbumMapper">

    <resultMap id="BaseResultMap" type="com.midland.web.model.CommunityAlbum">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="is_show" property="isShow" jdbcType="INTEGER"/>
        <result column="order_by" property="orderBy" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="LONGVARCHAR"/>
        <result column="hot_hand_id" property="hotHandId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,type,img_url,is_delete,is_show,order_by,description,hot_hand_id,create_time
	</sql>


    <select id="selectCommunityAlbumById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from community_album
        where id= #{id}
    </select>

    <delete id="deleteCommunityAlbumById">
        delete from community_album
        where id= #{id}
    </delete>


    <select id="shiftDown" parameterType="com.midland.web.model.CommunityAlbum" resultMap="BaseResultMap">
        select id,order_by from community_album where 1=1
        <include refid="select_option1"/>
        AND
        order_by &lt; #{orderBy} order by order_by desc LIMIT 1

    </select>
    <select id="shiftUp" parameterType="com.midland.web.model.CommunityAlbum" resultMap="BaseResultMap">
        select id,order_by from community_album where 1=1
        <include refid="select_option1"/>
        AND
        order_by &gt; #{orderBy} order by order_by asc LIMIT 1

    </select>

    <update id="updateCommunityAlbumById">
        update community_album
        <set>
            <include refid="update_option"/>
        </set>

        where id= #{id}
    </update>

    <select id="findCommunityAlbumList" parameterType="com.midland.web.model.CommunityAlbum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from community_album
        where
        is_delete=0
        <include refid="select_option"/>
        ORDER BY order_by desc
    </select>

    <insert id="insertCommunityAlbum" parameterType="com.midland.web.model.CommunityAlbum">
        <selectKey resultType="INTEGER" order="BEFORE" keyProperty="orderBy">
            SELECT MAX(order_by) +1 as orderBy from hot_hand
        </selectKey>
        insert into community_album
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                type,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="orderBy != null">
                order_by,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="hotHandId != null">
                hot_hand_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=INTEGER},
            </if>
            <if test="orderBy != null">
                #{orderBy,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="hotHandId != null">
                #{hotHandId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <sql id="update_option">
        <if test="type != null">
            type= #{type,jdbcType=INTEGER},
        </if>
        <if test="imgUrl != null">
            img_url= #{imgUrl,jdbcType=VARCHAR},
        </if>
        <if test="isDelete != null">
            is_delete= #{isDelete,jdbcType=INTEGER},
        </if>
        <if test="isShow != null">
            is_show= #{isShow,jdbcType=INTEGER},
        </if>
        <if test="orderBy != null">
            order_by= #{orderBy,jdbcType=INTEGER},
        </if>
        <if test="description != null">
            description= #{description,jdbcType=LONGVARCHAR},
        </if>
        <if test="hotHandId != null">
            hot_hand_id= #{hotHandId,jdbcType=INTEGER},
        </if>
        <if test="createTime != null">
            create_time= #{createTime,jdbcType=TIMESTAMP},
        </if>
    </sql>

    <sql id="select_option">
        <if test="id != null">
            and id= #{id,jdbcType=INTEGER}
        </if>
        <if test="type != null">
            and type= #{type,jdbcType=INTEGER}
        </if>
        <if test="imgUrl != null">
            and img_url= #{imgUrl,jdbcType=VARCHAR}
        </if>
        <if test="isDelete != null">
            and is_delete= #{isDelete,jdbcType=INTEGER}
        </if>
        <if test="isShow != null">
            and is_show= #{isShow,jdbcType=INTEGER}
        </if>
        <if test="orderBy != null">
            and order_by= #{orderBy,jdbcType=INTEGER}
        </if>
        <if test="description != null">
            and description= #{description,jdbcType=LONGVARCHAR}
        </if>
        <if test="hotHandId != null">
            and hot_hand_id= #{hotHandId,jdbcType=INTEGER}
        </if>
        <if test="createTime != null">
            and create_time= #{createTime,jdbcType=TIMESTAMP}
        </if>
    </sql>
<sql id="select_option1">

        <if test="type != null">
            and type= #{type,jdbcType=INTEGER}
        </if>
        <if test="imgUrl != null">
            and img_url= #{imgUrl,jdbcType=VARCHAR}
        </if>
        <if test="isDelete != null">
            and is_delete= #{isDelete,jdbcType=INTEGER}
        </if>
        <if test="isShow != null">
            and is_show= #{isShow,jdbcType=INTEGER}
        </if>

        <if test="description != null">
            and description= #{description,jdbcType=LONGVARCHAR}
        </if>
        <if test="hotHandId != null">
            and hot_hand_id= #{hotHandId,jdbcType=INTEGER}
        </if>
        <if test="createTime != null">
            and create_time= #{createTime,jdbcType=TIMESTAMP}
        </if>
    </sql>

</mapper>