<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.CornerFileMapper">

    <resultMap id="BaseResultMap" type="com.midland.web.model.CornerFile">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="registration_protocol" property="registrationProtocol" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,source,city_id,city_name,registration_protocol,create_time,is_delete
	</sql>

    <select id="selectCornerFileById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from corner_file
        where id= #{id}
    </select>

    <delete id="deleteCornerFileById">
		delete from corner_file
		 where id= #{id}
	</delete>

    <update id="updateCornerFileById">
        update corner_file
        <set>
            <include refid="update_option"/>
        </set>

        where id= #{id}
    </update>

    <select id="findCornerFileList" parameterType="com.midland.web.model.CornerFile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from corner_file
        where
        is_delete=0
        <include refid="select_option"/>
    </select>

    <insert id="insertCornerFile" parameterType="com.midland.web.model.CornerFile">
        insert into corner_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="source != null">
                source,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="registrationProtocol != null">
                registration_protocol,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="registrationProtocol != null">
                #{registrationProtocol,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <sql id="update_option">
        <if test="source != null">
            source= #{source,jdbcType=INTEGER},
        </if>
        <if test="cityId != null">
            city_id= #{cityId,jdbcType=VARCHAR},
        </if>
        <if test="cityName != null">
            city_name= #{cityName,jdbcType=VARCHAR},
        </if>
        <if test="registrationProtocol != null">
            registration_protocol= #{registrationProtocol,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null">
            create_time= #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="isDelete != null">
            is_delete= #{isDelete,jdbcType=INTEGER},
        </if>
    </sql>

    <sql id="select_option">
        <if test="id != null">
            and id= #{id,jdbcType=INTEGER}
        </if>
        <if test="source != null">
            and source= #{source,jdbcType=INTEGER}
        </if>
        <if test="cityId != null">
            and city_id= #{cityId,jdbcType=VARCHAR}
        </if>
        <if test="cityName != null">
            and city_name= #{cityName,jdbcType=VARCHAR}
        </if>
        <if test="registrationProtocol != null">
            and registration_protocol= #{registrationProtocol,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time= #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="isDelete != null">
            and is_delete= #{isDelete,jdbcType=INTEGER}
        </if>
    </sql>

</mapper>