<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.LeaveMsgMapper">

 	<resultMap id="BaseResultMap" type="com.midland.web.model.LeaveMsg" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="message" property="message" jdbcType="LONGVARCHAR" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="reply_msg" property="replyMsg" jdbcType="LONGVARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,message,DATE_FORMAT(add_time,'%Y-%m-%d %H:%i:%s')add_time,user_id,user_name,phone,reply_msg,type,is_delete
	</sql>

	<select id="selectLeaveMsgById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from leave_msg
		 where id= #{id}
	</select>

	<delete id="deleteLeaveMsgById" >
		delete from leave_msg
		 where id= #{id}
	</delete>

	<update id="updateLeaveMsgById" >
		update leave_msg 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findLeaveMsgList" parameterType="com.midland.web.model.LeaveMsg" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from leave_msg
		where 
		is_delete=0
		<include refid="select_option" />
	</select>

	<insert id="insertLeaveMsg" parameterType="com.midland.web.model.LeaveMsg">
		insert into leave_msg
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="message != null">
				message,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="replyMsg != null">
				reply_msg,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="message != null">
				#{message,jdbcType=LONGVARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="replyMsg != null">
				#{replyMsg,jdbcType=LONGVARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="message != null">
			message= #{message,jdbcType=LONGVARCHAR},
		</if>
		<if test="addTime != null">
			add_time= #{addTime,jdbcType=TIMESTAMP},
		</if>
		<if test="userId != null">
			user_id= #{userId,jdbcType=INTEGER},
		</if>
		<if test="userName != null">
			user_name= #{userName,jdbcType=VARCHAR},
		</if>
		<if test="phone != null">
			phone= #{phone,jdbcType=VARCHAR},
		</if>
		<if test="replyMsg != null">
			reply_msg= #{replyMsg,jdbcType=LONGVARCHAR},
		</if>
		<if test="type != null">
			type= #{type,jdbcType=INTEGER},
		</if>
		<if test="isDelete != null">
			is_delete= #{isDelete,jdbcType=INTEGER},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="message != null">
			 and message= #{message,jdbcType=LONGVARCHAR}
		</if>
		<if test="addTime != null">
			 and add_time= #{addTime,jdbcType=TIMESTAMP}
		</if>
		<if test="startTime != null">
			and add_time &gt; #{startTime,jdbcType=TIMESTAMP}
		</if>
		<if test="endTime != null">
			and add_time &lt; #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="userId != null">
			 and user_id= #{userId,jdbcType=INTEGER}
		</if>
		<if test="userName != null">
			 and user_name= #{userName,jdbcType=VARCHAR}
		</if>
		<if test="phone != null">
			 and phone= #{phone,jdbcType=VARCHAR}
		</if>
		<if test="replyMsg != null">
			 and reply_msg= #{replyMsg,jdbcType=LONGVARCHAR}
		</if>
		<if test="type != null">
			 and type= #{type,jdbcType=INTEGER}
		</if>
		<if test="isDelete != null">
			 and is_delete= #{isDelete,jdbcType=INTEGER}
		</if>
	</sql>

</mapper>