<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.QuotationSecondHandViewMapper">

    <resultMap id="BaseResultMap" type="com.midland.web.model.QuotationSecondHandView">
        <result column="data_time" property="dataTime" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR"/>
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="deal_num" property="dealNum" jdbcType="INTEGER"/>
        <result column="deal_acreage" property="dealAcreage" jdbcType="VARCHAR"/>
        <result column="pre_num" property="preNum" jdbcType="INTEGER"/>
        <result column="pre_acreage" property="preAcreage" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,data_time,type,city_id,area_id,deal_num,deal_acreage,pre_num,pre_acreage
	</sql>

    <select id="toolTip" parameterType="com.midland.web.model.QuotationSecondHandView" resultMap="BaseResultMap">
        SELECT * from quotation_second_hand_view
        where 1=1
        <include refid="select_option" />
    </select>

    <sql id="select_option">

        <if test="dataTime != null">
            and data_time= #{dataTime,jdbcType=TIMESTAMP}
        </if>
        <if test="startTime != null">
            and data_time &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            and data_time &lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="type != null">
            and type= #{type,jdbcType=INTEGER}
        </if>
        <if test="cityId != null">
            and city_id= #{cityId,jdbcType=VARCHAR}
        </if>
        <if test="areaId != null">
            and area_id= #{areaId,jdbcType=VARCHAR}
        </if>

    </sql>

</mapper>