<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.RecordMapper">

 	<resultMap id="BaseResultMap" type="com.midland.web.model.Record" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="city_id" property="cityId" jdbcType="VARCHAR" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="record" property="record" jdbcType="VARCHAR" />
		<result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,DATE_FORMAT(add_time,'%Y-%m-%d %H:%i:%s')add_time,DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')update_time,city_id,city_name,record,is_delete,is_show
	</sql>

	<select id="selectRecordById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from record
		 where id= #{id}
	</select>

	<delete id="deleteRecordById" >
		delete from record
		 where id= #{id}
	</delete>

	<update id="updateRecordById" >
		update record 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findRecordList" parameterType="com.midland.web.model.Record" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from record
		where 
		is_delete=0
		<include refid="select_option" />
	</select>

	<insert id="insertRecord" parameterType="com.midland.web.model.Record">
		insert into record
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="record != null">
				record,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=VARCHAR},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			<if test="record != null">
				#{record,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=VARCHAR},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="addTime != null">
			add_time= #{addTime,jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null">
			update_time= #{updateTime,jdbcType=TIMESTAMP},
		</if>
		<if test="cityId != null">
			city_id= #{cityId,jdbcType=VARCHAR},
		</if>
		<if test="cityName != null">
			city_name= #{cityName,jdbcType=VARCHAR},
		</if>
		<if test="record != null">
			record= #{record,jdbcType=VARCHAR},
		</if>
		<if test="isDelete != null">
			is_delete= #{isDelete,jdbcType=VARCHAR},
		</if>
		<if test="isShow != null">
			is_show= #{isShow,jdbcType=INTEGER},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="addTime != null">
			 and add_time= #{addTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updateTime != null">
			 and update_time= #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="cityId != null">
			 and city_id= #{cityId,jdbcType=VARCHAR}
		</if>
		<if test="cityName != null">
			 and city_name= #{cityName,jdbcType=VARCHAR}
		</if>
		<if test="record != null">
			 and record like '%${record}%'
		</if>
		<if test="isDelete != null">
			 and is_delete= #{isDelete,jdbcType=VARCHAR}
		</if>
		<if test="isShow != null">
			 and is_show= #{isShow,jdbcType=INTEGER}
		</if>
		<if test="startTime != null">
			and add_time &gt; #{startTime}
		</if>
		<if test="endTime != null">
			and add_time &lt; #{endTime}
		</if>
	</sql>

</mapper>