<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.SiteProtocolMapper">

 	<resultMap id="BaseResultMap" type="com.midland.web.model.SiteProtocol" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="source" property="source" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="VARCHAR" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="disclaimer" property="disclaimer" jdbcType="LONGVARCHAR" />
		<result column="contant_us" property="contantUs" jdbcType="LONGVARCHAR" />
		<result column="about_us" property="aboutUs" jdbcType="LONGVARCHAR" />
		<result column="corner_file" property="cornerFile" jdbcType="LONGVARCHAR" />
		<result column="privacy" property="privacy" jdbcType="LONGVARCHAR" />
		<result column="honor" property="honor" jdbcType="LONGVARCHAR" />
		<result column="registration_protocol" property="registrationProtocol" jdbcType="LONGVARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,source,city_id,city_name,disclaimer,contant_us,about_us,corner_file,privacy,honor,registration_protocol,create_time,is_delete
	</sql>

	<select id="selectSiteProtocolById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from site_protocol
		 where id= #{id}
	</select>

	<delete id="deleteSiteProtocolById" >
		delete from site_protocol
		 where id= #{id}
	</delete>

	<update id="updateSiteProtocolById" >
		update site_protocol 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findSiteProtocolList" parameterType="com.midland.web.model.SiteProtocol" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from site_protocol
		where 
		is_delete=0
		<include refid="select_option" />
	</select>

	<insert id="insertSiteProtocol" parameterType="com.midland.web.model.SiteProtocol">
		insert into site_protocol
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="source != null">
				source,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="disclaimer != null">
				disclaimer,
			</if>
			<if test="contantUs != null">
				contant_us,
			</if>
			<if test="aboutUs != null">
				about_us,
			</if>
			<if test="cornerFile != null">
				corner_file,
			</if>
			<if test="privacy != null">
				privacy,
			</if>
			<if test="honor != null">
				honor,
			</if>
			<if test="registrationProtocol != null">
				registration_protocol,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="source != null">
				#{source,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=VARCHAR},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			<if test="disclaimer != null">
				#{disclaimer,jdbcType=LONGVARCHAR},
			</if>
			<if test="contantUs != null">
				#{contantUs,jdbcType=LONGVARCHAR},
			</if>
			<if test="aboutUs != null">
				#{aboutUs,jdbcType=LONGVARCHAR},
			</if>
			<if test="cornerFile != null">
				#{cornerFile,jdbcType=LONGVARCHAR},
			</if>
			<if test="privacy != null">
				#{privacy,jdbcType=LONGVARCHAR},
			</if>
			 <if test="honor != null">
				#{honor,jdbcType=LONGVARCHAR},
			</if>
			<if test="registrationProtocol != null">
				#{registrationProtocol,jdbcType=LONGVARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="source != null">
			source= #{source,jdbcType=INTEGER},
		</if>
		<if test="cityId != null">
			city_id= #{cityId,jdbcType=VARCHAR},
		</if>
		<if test="cityName != null">
			city_name= #{cityName,jdbcType=VARCHAR},
		</if>
		<if test="disclaimer != null">
			disclaimer= #{disclaimer,jdbcType=LONGVARCHAR},
		</if>
		<if test="contantUs != null">
			contant_us= #{contantUs,jdbcType=LONGVARCHAR},
		</if>
		<if test="aboutUs != null">
			about_us= #{aboutUs,jdbcType=LONGVARCHAR},
		</if>
		<if test="cornerFile != null">
			corner_file= #{cornerFile,jdbcType=LONGVARCHAR},
		</if>
		<if test="privacy != null">
			privacy= #{privacy,jdbcType=LONGVARCHAR},
		</if>
		<if test="honor != null">
			honor= #{honor,jdbcType=LONGVARCHAR},
		</if>
		<if test="registrationProtocol != null">
			registration_protocol= #{registrationProtocol,jdbcType=LONGVARCHAR},
		</if>
		<if test="createTime != null">
			create_time= #{createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="isDelete != null">
			is_delete= #{isDelete,jdbcType=INTEGER},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="source != null">
			 and source= #{source,jdbcType=INTEGER}
		</if>
		<if test="cityId != null">
			 and city_id= #{cityId,jdbcType=VARCHAR}
		</if>
		<if test="cityName != null">
			 and city_name= #{cityName,jdbcType=VARCHAR}
		</if>
		<if test="disclaimer != null">
			 and disclaimer= #{disclaimer,jdbcType=LONGVARCHAR}
		</if>
		<if test="contantUs != null">
			 and contant_us= #{contantUs,jdbcType=LONGVARCHAR}
		</if>
		<if test="aboutUs != null">
			 and about_us= #{aboutUs,jdbcType=LONGVARCHAR}
		</if>
		<if test="cornerFile != null">
			 and corner_file= #{cornerFile,jdbcType=LONGVARCHAR}
		</if>
		<if test="privacy != null">
			 and privacy= #{privacy,jdbcType=LONGVARCHAR}
		</if>
		<if test="honor != null">
			 and honor= #{honor,jdbcType=LONGVARCHAR}
		</if>
		<if test="registrationProtocol != null">
			 and registration_protocol= #{registrationProtocol,jdbcType=LONGVARCHAR}
		</if>
		<if test="createTime != null">
			 and create_time= #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="isDelete != null">
			 and is_delete= #{isDelete,jdbcType=INTEGER}
		</if>
	</sql>

</mapper>