<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midland.web.dao.SpecialPageMapper">

 	<resultMap id="BaseResultMap" type="com.midland.web.model.SpecialPage" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="INTEGER" />
		<result column="mode_name" property="modeName" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="LONGVARCHAR" />
		<result column="price" property="price" jdbcType="FLOAT" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="subway_distance" property="subwayDistance" jdbcType="VARCHAR" />
		<result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
		<result column="detail" property="detail" jdbcType="LONGVARCHAR" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="img_desc" property="imgDesc" jdbcType="VARCHAR" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,city_id,source,mode_name,position,title,description,price,address,img_url,subway_distance,link_url,detail,is_delete,city_name,img_desc,is_show
	</sql>

	<select id="selectSpecialPageById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from special_page
		 where id= #{id}
	</select>

	<delete id="deleteSpecialPageById" >
		delete from special_page
		 where id= #{id}
	</delete>

	<update id="updateSpecialPageById" >
		update special_page 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findSpecialPageList" parameterType="com.midland.web.model.SpecialPage" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from special_page
		where 
		is_delete=0
		<include refid="select_option" />
	</select>

	<insert id="insertSpecialPage" parameterType="com.midland.web.model.SpecialPage">
		insert into special_page
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="cityId != null">
				city_id,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="modeName != null">
				mode_name,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="imgUrl != null">
				img_url,
			</if>
			<if test="subwayDistance != null">
				subway_distance,
			</if>
			<if test="linkUrl != null">
				link_url,
			</if>
			<if test="detail != null">
				detail,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="imgDesc != null">
				img_desc,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="cityId != null">
				#{cityId,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				#{source,jdbcType=INTEGER},
			</if>
			<if test="modeName != null">
				#{modeName,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=LONGVARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=FLOAT},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="subwayDistance != null">
				#{subwayDistance,jdbcType=VARCHAR},
			</if>
			<if test="linkUrl != null">
				#{linkUrl,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				#{detail,jdbcType=LONGVARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			 <if test="imgDesc != null">
				 #{imgDesc,jdbcType=VARCHAR},
			 </if>
			 <if test="isShow != null">
				 #{isShow,jdbcType=INTEGER},
			 </if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="cityId != null">
			city_id= #{cityId,jdbcType=VARCHAR},
		</if>
		<if test="source != null">
			source= #{source,jdbcType=INTEGER},
		</if>
		<if test="modeName != null">
			mode_name= #{modeName,jdbcType=VARCHAR},
		</if>
		<if test="position != null">
			position= #{position,jdbcType=INTEGER},
		</if>
		<if test="title != null">
			title= #{title,jdbcType=VARCHAR},
		</if>
		<if test="description != null">
			description= #{description,jdbcType=LONGVARCHAR},
		</if>
		<if test="price != null">
			price= #{price,jdbcType=FLOAT},
		</if>
		<if test="address != null">
			address= #{address,jdbcType=VARCHAR},
		</if>
		<if test="imgUrl != null">
			img_url= #{imgUrl,jdbcType=VARCHAR},
		</if>
		<if test="subwayDistance != null">
			subway_distance= #{subwayDistance,jdbcType=VARCHAR},
		</if>
		<if test="linkUrl != null">
			link_url= #{linkUrl,jdbcType=VARCHAR},
		</if>
		<if test="detail != null">
			detail= #{detail,jdbcType=LONGVARCHAR},
		</if>
		<if test="isDelete != null">
			is_delete= #{isDelete,jdbcType=INTEGER},
		</if>
		<if test="cityName != null">
			city_name= #{cityName,jdbcType=VARCHAR},
		</if>
		<if test="imgDesc != null">
			img_desc= #{imgDesc,jdbcType=VARCHAR},
		</if>
		<if test="isShow != null">
			is_show= #{isShow,jdbcType=INTEGER},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="cityId != null">
			 and city_id= #{cityId,jdbcType=VARCHAR}
		</if>
		<if test="source != null">
			 and source= #{source,jdbcType=INTEGER}
		</if>
		<if test="modeName != null">
			 and mode_name= #{modeName,jdbcType=VARCHAR}
		</if>
		<if test="position != null">
			 and position= #{position,jdbcType=INTEGER}
		</if>
		<if test="title != null">
			 and title= #{title,jdbcType=VARCHAR}
		</if>
		<if test="description != null">
			 and description= #{description,jdbcType=LONGVARCHAR}
		</if>
		<if test="price != null">
			 and price= #{price,jdbcType=FLOAT}
		</if>
		<if test="address != null">
			 and address= #{address,jdbcType=VARCHAR}
		</if>
		<if test="imgUrl != null">
			 and img_url= #{imgUrl,jdbcType=VARCHAR}
		</if>
		<if test="subwayDistance != null">
			 and subway_distance= #{subwayDistance,jdbcType=VARCHAR}
		</if>
		<if test="linkUrl != null">
			 and link_url= #{linkUrl,jdbcType=VARCHAR}
		</if>
		<if test="detail != null">
			 and detail= #{detail,jdbcType=LONGVARCHAR}
		</if>
		<if test="isDelete != null">
			 and is_delete= #{isDelete,jdbcType=INTEGER}
		</if>
		<if test="cityName != null">
			 and city_name= #{cityName,jdbcType=VARCHAR}
		</if>
		<if test="imgDesc != null">
			 and img_desc= #{imgDesc,jdbcType=VARCHAR}
		</if>
		<if test="isShow != null">
			 and is_show= #{isShow,jdbcType=INTEGER}
		</if>
	</sql>

</mapper>