<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midland.web.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.midland.web.model.user.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="user_cn_name" property="userCnName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="CHAR"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="head_img" property="headImg" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="audit_status" property="auditStatus" jdbcType="INTEGER"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="is_black" property="isBlack" jdbcType="VARCHAR"/>
        <result column="black_remark" property="blackRemark" jdbcType="VARCHAR"/>
        <result column="identification" property="identification" jdbcType="VARCHAR"/>
        <result column="idcart_img" property="idcartImg" jdbcType="VARCHAR"/>
        <result column="idcart_img1" property="idcartImg1" jdbcType="VARCHAR"/>
        <result column="audit_name" property="auditName" jdbcType="VARCHAR"/>
        <result column="audit_remark" property="auditRemark" jdbcType="VARCHAR"/>
        <result column="audit_name" property="auditName" jdbcType="VARCHAR"/>
        <result column="audit_remark" property="auditRemark" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="UserRoleResultMap" type="com.midland.web.model.user.UserRole">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="Base_Column_List">
    id, username, user_cn_name, password, user_type, state, email, phone, create_time,
    create_by, modify_time, head_img, source, audit_status, audit_time, is_black, black_remark,
    identification, idcart_img, idcart_img1, audit_name, audit_remark,city_id,city_name
  </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.midland.web.model.user.User">
        select
        <include refid="Base_Column_List"/>
        from user
         where 1=1 <include refid="select_option" />
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.midland.web.model.user.User">
        delete from user
        where 1=1
            <include refid="select_option"/>
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.midland.web.model.user.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="userCnName != null" >
                user_cn_name,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="userType != null" >
                user_type,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="headImg != null" >
                head_img,
            </if>
            <if test="source != null" >
                source,
            </if>
            <if test="auditStatus != null" >
                audit_status,
            </if>
            <if test="auditTime != null" >
                audit_time,
            </if>
            <if test="isBlack != null" >
                is_black,
            </if>
            <if test="blackRemark != null" >
                black_remark,
            </if>
            <if test="identification != null" >
                identification,
            </if>
            <if test="idcartImg != null" >
                idcart_img,
            </if>
            <if test="idcartImg1 != null" >
                idcart_img1,
            </if>
            <if test="auditName != null" >
                audit_name,
            </if>
            <if test="auditRemark != null" >
                audit_remark,
            </if>
            <if test="cityId != null" >
                city_id,
            </if>
            <if test="cityName != null" >
                city_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="userCnName != null" >
                #{userCnName,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=CHAR},
            </if>
            <if test="userType != null" >
                #{userType,jdbcType=INTEGER},
            </if>
            <if test="state != null" >
                #{state,jdbcType=INTEGER},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="headImg != null" >
                #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="source != null" >
                #{source,jdbcType=INTEGER},
            </if>
            <if test="auditStatus != null" >
                #{auditStatus,jdbcType=INTEGER},
            </if>
            <if test="auditTime != null" >
                #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isBlack != null" >
                #{isBlack,jdbcType=VARCHAR},
            </if>
            <if test="blackRemark != null" >
                #{blackRemark,jdbcType=VARCHAR},
            </if>
            <if test="identification != null" >
                #{identification,jdbcType=VARCHAR},
            </if>
            <if test="idcartImg != null" >
                #{idcartImg,jdbcType=VARCHAR},
            </if>
            <if test="idcartImg1 != null" >
                #{idcartImg1,jdbcType=VARCHAR},
            </if>
            <if test="auditName != null" >
                #{auditName,jdbcType=VARCHAR},
            </if>
            <if test="auditRemark != null" >
                #{auditRemark,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null" >
                #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null" >
                #{cityName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.midland.web.model.user.UserExample" resultType="java.lang.Integer">
        select count(*) from user
        where 1=1 <include refid="select_option" />
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user
        <set>
            <include refid="update_option" />
        </set>
        where 1=1 <include refid="select_option" />
    </update>
    <update id="updateByExample" parameterType="map">
        update user
        set id = #{record.id,jdbcType=BIGINT},
        username = #{record.username,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=CHAR},
        state = #{record.state,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP}
        where 1=1
        <include refid="select_option" />
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.midland.web.model.user.User">
        update user
        <set>
            <include refid="update_option" />
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.midland.web.model.user.User">
        update user
        set <include refid="update_option" />
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 用户登录验证查询 -->
    <select id="authentication" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where state=1
        <if test="flag==null or flag==''">
            and user_type=0
        </if>
        and (username = #{username,jdbcType=VARCHAR}
        or phone=#{username,jdbcType=VARCHAR} )
        and password = #{password,jdbcType=CHAR}
    </select>

    <!-- 分页条件查询 -->
    <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.midland.web.model.user.User">
        select
        <include refid="Base_Column_List"/>
        from user where 1=1
        <include refid="select_option"/>

    </select>

    <!-- 批量新增用户角色关系 -->
    <insert id="insertUserRoleBatch" parameterType="java.util.List">
        insert into user_role (user_id,role_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId,jdbcType=BIGINT},#{item.roleId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <!-- 根据用户id查找用户角色关系-->
    <select id="findUserRoleByUserId" resultMap="UserRoleResultMap">
   	SELECT id, user_id, role_id
	  FROM user_role
	 WHERE user_id=#{userId}
    </select>

    <!-- 批量删除用户角色关系 -->
    <delete id="deleteUserRoleBatch">
        delete from user_role
        where user_id=#{userId,jdbcType=BIGINT}
        and role_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.roleId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <!-- 批量删除用户角色关系 -->
    <delete id="deleteUserRoleBatchById">
        delete from user_role
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </delete>

    <!-- 通过角色id 查询角色关联的用户 -->
    <select id="selectUsersByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
       SELECT DISTINCT u.id,
                u.username,
                u.user_cn_name,
                u.password,
                u.user_type,
                u.state,
                u.create_time,
                u.modify_time
	  FROM user u, user_role ur
	 WHERE u.id = ur.user_id 
	 AND ur.role_id = #{roleId,jdbcType=BIGINT}
    </select>


    <select id="queryUserForCustCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where username = #{custCode,jdbcType=VARCHAR}
    </select>


    <sql id="select_option">

        <if test="username != null   and username != ''">
            AND username like concat(concat('%',#{username,jdbcType=VARCHAR}),'%')
        </if>
        <if test="userCnName != null">
            AND user_cn_name = #{userCnName,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            AND password = #{password,jdbcType=CHAR}
        </if>
        <if test="userType != null">
            AND user_type = #{userType,jdbcType=INTEGER}
        </if>
        <if test="state != null">
            AND state = #{state,jdbcType=INTEGER}
        </if>
        <if test="email != null">
            AND email = #{email,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            AND phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            AND create_time &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND create_time &lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createBy != null">
            AND create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="modifyTime != null">
            AND modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="headImg != null">
            AND head_img = #{headImg,jdbcType=VARCHAR}
        </if>
        <if test="source != null">
            AND source = #{source,jdbcType=INTEGER}
        </if>
        <if test="auditStatus != null">
            AND audit_status = #{auditStatus,jdbcType=INTEGER}
        </if>
        <if test="auditTime != null">
            AND audit_time = #{auditTime,jdbcType=TIMESTAMP}
        </if>
        <if test="isBlack != null">
            AND is_black = #{isBlack,jdbcType=VARCHAR}
        </if>
        <if test="blackRemark != null">
            AND black_remark = #{blackRemark,jdbcType=VARCHAR}
        </if>
        <if test="identification != null">
            AND identification = #{identification,jdbcType=VARCHAR}
        </if>
        <if test="idcartImg != null">
            AND idcart_img = #{idcartImg,jdbcType=VARCHAR}
        </if>
        <if test="idcartImg1 != null">
            AND idcart_img1 = #{idcartImg1,jdbcType=VARCHAR}
        </if>
        <if test="auditName != null  and auditName != ''">
            AND audit_name like concat(concat('%',#{auditName,jdbcType=VARCHAR}),'%')
        </if>
        <if test="auditRemark != null">
            AND audit_remark = #{auditRemark,jdbcType=VARCHAR}
        </if>
        <if test="cityId != null">
            AND city_id = #{cityId,jdbcType=VARCHAR}
        </if>
        <if test="cityName != null">
            AND city_name = #{cityName,jdbcType=VARCHAR}
        </if>

    </sql>


    <sql id="update_option">

        <if test="username != null   and username != ''">
            username = #{username,jdbcType=VARCHAR},
        </if>
        <if test="userCnName != null">
            user_cn_name = #{userCnName,jdbcType=VARCHAR},
        </if>
        <if test="password != null">
            password = #{password,jdbcType=CHAR},
        </if>
        <if test="userType != null">
            user_type = #{userType,jdbcType=INTEGER},
        </if>
        <if test="state != null">
            state = #{state,jdbcType=INTEGER},
        </if>
        <if test="email != null">
            email = #{email,jdbcType=VARCHAR},
        </if>
        <if test="phone != null">
            phone = #{phone,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="createBy != null">
            create_by = #{createBy,jdbcType=VARCHAR},
        </if>
        <if test="modifyTime != null">
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        </if>
        <if test="headImg != null">
            head_img = #{headImg,jdbcType=VARCHAR},
        </if>
        <if test="source != null">
            source = #{source,jdbcType=INTEGER},
        </if>
        <if test="auditStatus != null">
            audit_status = #{auditStatus,jdbcType=INTEGER},
        </if>
        <if test="auditTime != null">
            audit_time = #{auditTime,jdbcType=TIMESTAMP},
        </if>
        <if test="isBlack != null">
            is_black = #{isBlack,jdbcType=VARCHAR},
        </if>
        <if test="blackRemark != null">
            black_remark = #{blackRemark,jdbcType=VARCHAR},
        </if>
        <if test="identification != null">
            identification = #{identification,jdbcType=VARCHAR},
        </if>
        <if test="idcartImg != null">
            idcart_img = #{idcartImg,jdbcType=VARCHAR},
        </if>
        <if test="idcartImg1 != null">
            idcart_img1 = #{idcartImg1,jdbcType=VARCHAR},
        </if>
        <if test="auditName != null  and auditName != ''">
            audit_name =#{auditName,jdbcType=VARCHAR},
        </if>
        <if test="auditRemark != null">
            audit_remark = #{auditRemark,jdbcType=VARCHAR},
        </if>
        <if test="cityId != null">
            city_id = #{cityId,jdbcType=VARCHAR},
        </if>
        <if test="cityName != null">
            city_name = #{cityName,jdbcType=VARCHAR},
        </if>

    </sql>


</mapper>